@model ClassManegmentSystem.Models.Student

@{
    ViewData["Title"] = @Model.StudentName.Split(" ")[0] + "'s Account";
}


<form>
    <h4>Welcome @Model.StudentName.Split(" ")[0]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNationalID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNationalID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentParentPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentParentPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BithDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BithDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city.CityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city.CityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city.CityName)
        </dd>



        <dt class = "col-sm-2">
            @Html.DisplayName("Classes enrolled in")
        </dt>
       

		<dd class="col-sm-10">
            @foreach (var item in ViewBag.TeacherIds)
			{
                <p> Name: <span class="text-primary">@item.TeacherName</span> - ID: <span class="text-primary">@item.TeacherId</span> Subject: <span class="text-primary">@item.Subject</span> </p>
            }
		</dd>
        <dd class="col-sm-10  @(ViewBag.boo ? "d-none" : " ")">
            <div class="alert alert-warning d-flex align-items-lg-center col-3 mt-2" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                </svg>
                <div>
                    Not in a class yet
                </div>
            </div>
        </dd>
	</dl>
</form>

<form method="post" asp-action="Create" asp-controller="SchoolClass">
    <div>
        <dt class="col-sm-2">
            @Html.DisplayName("Add To Class")
        </dt>
        <dd class="col-sm-3">
            @Html.DropDownList("Teacherid", new SelectList(ViewBag.AllTeacherIds, "TeacherId", "TeacherName"),"", new { @class = "form-control" , @placeholder = "Teacher's id to attend to his class..."})
        </dd>
    </div>
    <div class="d-none">
        <dt class="col-sm-2 mt-2 ">
            @Html.DisplayName("Add To Class")
        </dt>
        <dd class="col-sm-3">
            <input name="Studentid" value="@Model.StudentId" />
            @Html.TextBox("Studentid", null, new { @class = "form-control" , @placeholder = "Teacher's id to attend to his class..."})
        </dd>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
