@model Tuple<IEnumerable<ClassManegmentSystem.Models.Class>,List<ClassManegmentSystem.Models.Class>>
@{
    ViewData["Title"] = "Home Page";

    var Teacher = Model.Item1.Select(e =>e.teacher.TeacherName).Distinct().ToList();
    var Grade = Model.Item1.Select(e => e.student.StudentGrade).Distinct().ToList();
    var City = Model.Item1.Select(e => e.student.city.CityName).Distinct().ToList();
    var Groups = ViewBag.Classes;

}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome </h1>
    <p class="text-primary opacity-50 fw-bold">Choose the Teacher you want to see his Classes</p>
</div>
<br/>




<form asp-action="Index" asp-controller="Home" method="post">
<div class=" d-flex flex-row justify-content-around ">
        <div class="col-3"> @Html.Label("TeacherName") @Html.DropDownList("TeacherName", new SelectList(Teacher) ,"",new { @class = "form-control"})</div>

      @*  <div class="col-2"> @Html.Label("Grade") @Html.DropDownList("Grade", new SelectList(Grade) ,"",new { @class = "form-control" })</div>
        <div class="col-3"> @Html.Label("CityName") @Html.DropDownList("CityName", new SelectList(City) ,"",new { @class = "form-control"  })</div>*@
</div>
    <div class="d-flex align-items-center justify-content-center mt-4">
        @*<a asp-action="Table" class="btn btn-outline-primary">Filter</a>*@

        <input type="submit"value="Filter" class="btn btn-outline-primary" />
</div>
</form>
<br/>
@if (Model.Item2.Any())
{
    @foreach (var item in Model.Item2)
    {
        <div class="card d-flex justify-content-between align-content-around" style="width: 18rem;">
                <div class="card-body ">
                    <h5 class="card-title">@item.student.city.CityName</h5>
                    <p class="card-text">@item.ClassName</p>
                    <a asp-controller="SchoolClass" asp-action="Table"  asp-route-Id ="@item.ClassNumber"  class="card-link">Table Of Students</a>
                </div>
            </div>
    }
}else{
    <div class="alert alert-warning d-flex align-items-lg-center mt-5 col-12" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
        </svg>
        <div>
           Select the teacher to view to classes he has
        </div>
    </div>
}

@*if(!Model.Any()){
    <div class="alert alert-warning d-flex align-items-lg-center mt-5 col-12" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
        </svg>
        <div>
            Set some filtration to create your table
        </div>
    </div>
}
}*@

