@model IEnumerable<ClassManegmentSystem.Models.Student>
@{

    ViewData["Title"] = "Home Page";
    //var TeacherData = Model.Select(e => new { e.teacher.TeacherName, e.teacher.TeacherId , e.teacher.Subject }).Distinct().ToList();
        int count = Model.Select(e => e.StudentName).Count();
        string city = Model.FirstOrDefault(e => true).city.CityName;
        string grade = Model.FirstOrDefault(e => true).StudentGrade;
    

}

<div class="text-center">
</div>
<br />
<br />

@*@foreach (var item in Model)
{
    <div class="d-flex justify-content-between align-content-center text-primary" >

    <h3>Mr/@item.teacher.TeacherName</h3>
    <h3>Subject: @item.teacher.Subject</h3>
        <h3> Count of Students: @count</h3>

    </div>
    
}   *@

<div class="d-flex justify-content-between align-content-center text-primary" >

    <h3>Mr/@ViewBag.Teacher.TeacherName</h3>
    <h3>Subject: @ViewBag.Teacher.Subject - ID = @ViewBag.Teacher.TeacherId</h3>
        <h3> Count of Students: @count</h3>

    </div>
    


<br />
@if (Model.Any())
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StudentName)</th>
                    <th>@Html.DisplayNameFor(model => model.city.CityName)</th>
                    <th>@Html.DisplayNameFor(model => model.StudentNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.StudentPhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.StudentParentPhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.StudentGrade)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                      
                        <td>@Html.DisplayFor(model => item.StudentName)</td>
                        <td>@Html.DisplayFor(model => item.city.CityName)</td>
                        <td>@Html.DisplayFor(model => item.StudentNumber)</td>
                        <td>@Html.DisplayFor(model => item.StudentPhoneNumber)</td>
                        <td>@Html.DisplayFor(model => item.StudentParentPhoneNumber)</td>
                        <td>@Html.DisplayFor(model => item.StudentGrade)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br/>
       

    </div>
} 

@if (!Model.Any())
{
    <div class="alert alert-warning d-flex align-items-lg-center mt-5 col-12" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
        </svg>
        <div>
            Set some filtration to create your table
        </div>
    </div>
    <br/>
}
<form method="post" asp-action="Create">
            <div>
                <dt class="col-sm-3">
                    @Html.DisplayName("Add To more students to class")
                </dt>
                <dd class="col-sm-3 mt-2">
                    @Html.DropDownList("StudentId", new SelectList(ViewBag.Students, "StudentId", "StudentName"),"", new { @class = "form-control" , @placeholder = "Student's id to attend to his class..."})
                </dd>
            </div>
         
				<div class="d-none">
					<dt class="col-sm-2 mt-2 ">
						@Html.DisplayName("Add To Class")
					</dt>
					<dd class="col-sm-3">
                    <input name="TeacherId" value="@ViewBag.Teacher.TeacherId" />
                        @Html.TextBox("TeacherId", null, new { @class = "form-control" , @placeholder = "Teacher's id to attend to his class..."})
					</dd>
				</div>
				<div class="form-group">

                    <input type="submit" value="Add" class="btn btn-primary"  />
				</div>
            
          
        </form>
@*

<div class="d-flex justify-content-around ">
<div class="card" style="width: 18rem;">
<img src="~/teacher-concept-illustration_114360-2166.jpg" />
  <div class="card-body">
    <h5 class="card-title">Teachers Portal</h5>
    <p class="card-text">As a teacher you go here.</p>
            <a href="#" class="btn btn-primary">go to Teachers</a>
  </div>
</div>
	<div class="card" style="width: 18rem;">
		<img src="~/istockphoto-1171911961-170667a.jpg" />

    <div class="card-body">
        <h5 class="card-title">Students Portal</h5>
            <p class="card-text">As a student you go here.</p>
            <a asp-action="" class="btn btn-primary">go to Students</a>
    </div>
</div>
</div>*@